* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: #2c3e50;
  color: white;
}

.logo-sidebar {
  height: 60px;
  width: 100%;
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}


.content {
  flex: 1;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.header-content {
  height: 60px;
  width: 100%;
  background-color: #00488f;
  color: white;
}

.main-content {
  flex: 1;
  background-color: #ecf0f1;
}

